* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(100px);
  z-index: 9;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    padding-bottom: 10px;
    position: relative;
    background: transparent;

    .rightelements {
      select.btn {
        background: transparent;
        font-size: 17px;
        padding: 10px;
      }
    }

    .title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0;
      letter-spacing: 0.5px;
      font-size: 23px;
    }

    .leftelements {
      #hiddenelements {
        span {
          display: none;
        }
      }
      a {
        &.menu {
          font-size: 20px;
          color: inherit;
          display: none;
        }

        &#menuclose {
          display: none;
        }
      }
      .icon {
        i {
          font-size: 20px;
          font-weight: bold;
          margin-left: 15px;
        }
      }
    }

    .leftelements,
    .rightelements {
      display: flex;
      align-items: center;
      gap: 10px;

      .btn {
        padding: 6px 20px;
        padding-top: 8px;
        border: 2px solid;
        border-radius: 25px;
        font-weight: bold;
      }
    }
  }
}

@media (width < 480px) {
  header {
    max-width: 100vw;

    .navbar {
      padding: 10px 10px;

      .rightelements {
        select.btn {
          display: none;
        }

        a.btn {
          padding: 6px 14px;

          span {
            display: none;
          }
        }
      }

      .leftelements {
        #hiddenelements {
          position: fixed;
          display: block;
          top: -100vh;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: -1;
          background: #fff;
          padding: 10px;
          padding-top: 80px;
          transition: 0.3s all;

          .btn {
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 40px;
            display: block;
            border: 0px;
            margin-bottom: 20px;
          }

          span {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            a {
              text-decoration: none;
              color: #000000;
              font-size: 20px;
              padding: 8px;
            }
          }
        }

        a {
          &.menu {
            display: block;
            font-size: 17px;
            padding: auto 0px;

            &#menuclose {
              display: none;
            }
          }
        }

        .btn {
          padding: 7px 8px;
        }

        .icon {
          i {
            font-size: 20px;
            margin-left: 0;
          }
        }
      }

      .title {
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
    }
  }
}

#homepage {
  .carousel {
    background: #ffc700;
    white-space: nowrap;
    border-bottom: 4px solid;
    overflow: scroll;
    padding-bottom: 10px;
    padding-top: 80px;

    svg {
      display: inline;

      &.ecllipse {
        width: 400px;
        height: 550px;
      }

      &.pattern {
        width: 500px;
        height: 500px;
      }

      &.circle {
        width: 500px;
        height: 500px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-top: 100px;
    padding: 5px;
    margin-bottom: 100px;

    .firstline,
    .secondline,
    .thirdline {
      span {
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px;
      }
    }

    .secondline {
      #layer {
        text-decoration: underline;
      }

      #component {
        text-decoration: underline;
      }
    }
  }
}

@media (width < 480px) {
  #homepage {
    .carousel {
      width: 100%;
      padding-top: 65px;

      svg {
        &.ecllipse {
          width: 200px;
          height: 275px;
        }

        &.pattern {
          width: 250px;
          height: 250px;
        }

        &.circle {
          width: 250px;
          height: 250px;
        }
      }
    }
    .content {
      text-align: center;
      line-height: 25px;

      .firstline,
      .secondline,
      .thirdline {
        span {
          font-size: 30px;
        }
        img {
          width: 25px;
        }
      }
    }
  }
}

#limitededition {
  .black {
    width: 100vw;
    height: 90vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .white {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #d5d5d5;
      border-radius: 40px;
      overflow: hidden;

      .content {
        padding: 0 20px;

        h2 {
          font-size: 40px;
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          font-weight: 200;
        }

        button {
          padding: 7px 30px;
          border-radius: 20px;
          background: #000000;
          color: #fff;
          font-weight: bold;
          margin: 25px 10px 0 0;
        }
      }

      .imgbx {
        width: 70%;
        height: 100%;
        position: relative;

        .bigimg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .smimg {
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          width: 250px;

          &.orange {
            left: 20%;
            rotate: -20deg;
          }

          &.yellow {
            left: 80%;
            rotate: 10deg;
            top: 150px;
          }

          &.psttern {
            top: 470px;
            rotate: 25deg;
          }
        }
      }
    }
  }
}

@media (width < 480px) {
  #limitededition {
    .black {
      height: auto;
      .white {
        flex-direction: column;
        padding-top: 20px;

        .content {
          h2 {
            font-size: 25px;
          }

          p {
            font-size: 15px;
          }
        }

        .imgbx {
          margin-top: 20px;
          width: 100%;

          .smimg {
            width: 100px;

            &.orange{
              top:20px;
            }

            &.yellow {
              left: 70%;
              top: 80px;
            }

            &.psttern {
              top: 190px;
              left: 30px;
            }
          }
        }
      }
    }
  }
}

#productpg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .cardbx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card {
      width: 300px;
      height: 400px;

      img {
        width: 100%;
        aspect-ratio: 1/1.3;
        border-radius: 20px;
        object-fit: cover;
      }

      h3 {
        font-size: 15px;
        margin-top: 3px;
        letter-spacing: 1px;
      }

      p {
        font-size: 12px;
        margin-top: 10px;
        letter-spacing: 3px;
      }
    }
  }
}

@media (width < 480px) {
  #productpg {
    height: auto;
    padding: 20px;

    .cardbx {
      flex-direction: column;
      padding: 30px;
      gap: 35px;

      .card {
        height: auto;
        width: 100%;
      }
    }
  }
}

#categorypg {
  .container {
    height: 90vh;

    .content {
      h2 {
        font-size: 40px;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 1100px;
        text-transform: uppercase;
      }
    }

    .cardbx {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin: 0 auto;
      margin-top: 30px;
      max-width: 1100px;

      .card {
        min-width: 250px;
        min-height: 350px;
        // max-height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          max-height: 80%;
          min-height: 80%;
          border-radius: 20px;
          object-fit: cover;
        }

        .cardcontent {
          display: flex;
          justify-content: space-between;
          gap: 25px;
          padding: 5px 0;
          margin-top: 10px;

          h4 {
            font-size: 18px;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (width < 480px) {
  #categorypg {
    .container {
      height: auto;
      padding: 15px;

      .content {
        padding-left: 10px;
        text-align: center;

        h2 {
          font-size: 27px;
          margin-top: 60px;
        }
      }

      .cardbx {
        flex-direction: column;
        padding: 0px 30px;
        height: auto;

        .card {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#singleprod {
  display: flex;
  justify-content: center;
  padding: 20px;

  .allinfo {
    display: flex;
    gap: 20px;
    margin-top: 80px;

    .smallcard {
      width: 60px;

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 5px;

        &.active {
          border: 2px solid;
        }
      }
    }

    .card {
      width: 380px;

      #bigimg {
        width: 100%;
        border-radius: 30px;
      }
    }

    .cardcontent {
      .layerbtn {
        padding: 10px;

        button {
          padding: 6px 10px;
          border-radius: 14px;
          font-size: 12px;
          font-weight: bold;
          background: #10a958;
          border: none;
        }
      }

      .design {
        padding: 10px;

        h2 {
          font-size: 35px;
        }
      }

      .size {
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 10px;

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          border: 2px solid;

          &#firstcircle {
            background: #000000;
            color: #fff;
          }

          p {
            font-weight: bold;
            font-size: 14px;
          }
        }
      }

      #size1 {
        p {
          font-size: 20px;
          padding: 12px;
        }
      }

      .soldout {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;

        #soldbtn,
        #soldbtn1 {
          padding: 7px 150px;
          border-radius: 20px;
          background: #949494;
          border: none;

          p {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
          }
        }

        #soldbtn1 {
          background: transparent;
          border: 1px solid;

          p {
            color: #000000;
          }
        }

        #soldbtn1:hover {
          background: #000;

          p {
            color: #fff;
          }
        }
      }

      .prodinfo {
        padding: 10px;

        h4 {
          font-size: 15px;
          letter-spacing: 0.5px;
          max-width: 390px;
        }
        p {
          font-size: 14px;
          letter-spacing: 0.5px;
          font-style: italic;
        }
      }
    }
  }

  #form {
    background: #ffffff99;
    backdrop-filter: blur(40px);
    border: 1px solid;
    padding: 0 30px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 8;
    top: 0;
    left: 0;

    .inputfields {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-top: 50px;

      label {
        font-size: 17px;
        font-weight: bold;
        color: #000000;
      }

      input {
        padding: 7px 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
        outline: none;
        background: transparent;
        font-size: 17px;
      }

      .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;

        button {
          padding: 8px 12px;
          width: 100%;
          font-size: 17px;
          color: #fff;
          border-radius: 20px;
          background-color: #000000;
          text-transform: uppercase;

          &#close {
            background: transparent;
            outline: 1px solid;
            color: #000000;
          }
        }
      }
    }
  }
}

@media (width < 480px) {
  #singleprod {
    .allinfo {
      flex-direction: column;

      .smallcard {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: 380px;
        overflow: scroll;
        overflow-y: hidden;
        border-radius: 15px;

        img {
          width: 80%;
          max-width: 300px;
          height: 100%;

          &.active {
            border: 0;
          }
        }
      }

      .card {
        display: none;
      }

      .cardcontent {
        .layerbtn {
          button {
            padding: 8px 12px;
          }
        }

        .design {
          h2 {
            font-size: 30px;
          }
        }

        .size {
          .circle {
            width: 35px;
            height: 35px;
          }
        }
        .soldout {
          #soldbtn,
          #soldbtn1 {
            padding: 7px 110px;
          }
        }
      }
    }

    #form {
      backdrop-filter: blur(100px);
      padding: 40px 50px;

      .inputfields {
        margin-top: 50px;

        label {
          font-size: 15px;
        }

        input {
          margin: 0;
          font-size: 14px;
          padding: 3px 0px;
        }

        .btns {
          width: 80%;

          button {
            padding: 7px 6px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

footer {
  background: #ffc700;
  align-items: center;
  padding: 25px 0;
  padding-bottom: 0;

  &#purple {
    background: #c5bafb;
  }

  &#catego {
    padding-top: 30vh;
  }

  .footerbx {
    padding: 20px;
    gap: 100px;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;

    .shape {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        width: 190px;
        background: #10a958;
        text-align: center;
        padding: 20px;

        &:first-child {
          width: 120px;
        }
      }
    }

    .shape1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: center;
      background: #ffc700;
      width: 160px;
      height: 170px;
      border-top-left-radius: 70px;
      border-top-right-radius: 70px;
      padding: 15px;

      h2 {
        margin-bottom: 10px;
        letter-spacing: 0.5px;
      }

      .two {
        display: flex;
        margin-top: 30px;
        padding: 0px 20px;
        letter-spacing: 0.5px;

        #figma {
          rotate: -90deg;
        }

        #store {
          rotate: 90deg;
        }
      }
    }

    .otherlinks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .objective {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h4 {
          font-size: 22px;
          letter-spacing: 1px;
        }

        ul {
          li {
            list-style: none;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .social {
      a {
        font-size: 18px;
        padding: 18px;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        margin-bottom: 5px;

        &:first-child {
          padding-left: 0;

          i {
            rotate: (-40deg);
            font-size: 25px;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: end;
      scroll-behavior: smooth;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        aspect-ratio: 1/1;
        background: #000000;
        border-radius: 50%;
        color: #ffc700;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 30px;
      }
    }
  }
}

@media (width < 480px) {
  footer {
    .footerbx {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

     

      .otherlinks {
        .objective {
          flex-direction: column;
          gap: 20px;

          h4 {
            font-size: 40px;
          }

          ul{
            li{
              font-size: 17px;
            }
          }
        }
      }

      .social {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 15px;
        align-items: start;
        text-align: center;

        a {
          margin: 0;
          padding: 0;
          font-size: 17px;
        }
      }
    }
  }
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 35px;
  width: 60px;
  height: 60px;
  background: #fff;
  z-index: 9;
}

@media (width < 480px) {
  .msg{
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}

// autoscroll

.scroll {
  position: relative;
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: auto;
  white-space: nowrap;
  padding: 0 5px;
  text-transform: uppercase;
  margin-top: 10px;
}
