* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#homepage {

  header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 9;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    padding-bottom: 10px;
    position: relative;
    background: transparent;


    .rightelements {
      select.btn {
        background: transparent;
        font-size: 17px;
        padding: 10px;
      }
    }

    .title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0;
      letter-spacing: 0.5px;
      font-size: 23px;
    }

    .leftelements {
      .icon {
        i {
          font-size: 20px;
          font-weight: bold;
          margin-left: 15px;
        }
      }
    }

    .leftelements,
    .rightelements {
      display: flex;
      align-items: center;
      gap: 10px;

      .btn {
        padding: 6px 20px;
        padding-top: 8px;
        border: 2px solid;
        border-radius: 25px;
        font-weight: bold;
      }
    }
  }

  .carousel {
    background: #ffc700;
    white-space: nowrap;
    border-bottom: 4px solid;
    overflow: scroll;
    padding-bottom: 10px;
    padding-top: 80px;

    svg {
      display: inline;

      &.ecllipse {
        width: 300px;
        height: 450px;
      }

      &.pattern {
        width: 450px;
        height: 450px;
      }

      &.circle {
        width: 450px;
        height: 450px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-top: 100px;
    padding-bottom: 40px;

    .firstline,
    .secondline,
    .thirdline {
      span {
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px;
      }
    }
  }
}

#limitededition {
  .black {
    width: 100vw;
    height: 90vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .white {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #d5d5d5;
      border-radius: 40px;
      overflow: hidden;

      .content {
         padding: 0 20px;

        h2 {
          font-size: 40px;
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          font-weight: 200;
        }

        button {
          padding: 7px 30px;
          border-radius: 20px;
          background: #000000;
          color: #fff;
          font-weight: bold;
          margin: 25px 10px 0 0;
        }
      }

      .imgbx {
        width: 70%;
        height: 100%;
        position: relative;

        .bigimg {
          width: 100%;
         height: 100%;
         object-fit: cover;
        }

        .smimg{
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          width: 250px;

          &.orange{
              left: 20%;
              rotate: -20deg;
          }

          &.yellow{
            left: 80%;
            rotate: 10deg;
            top: 150px;
          }

          &.psttern{
            top: 470px;
            rotate: 25deg;
          }
        }

      }
    }
  }
}


#productpg{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .cardbx{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card{
       width: 300px;
       height: 400px;
      
       img{
        width: 100%;
        aspect-ratio: 1/1.3;
        border-radius:20px ;
        object-fit: cover;
       }

       h3{
        font-size: 15px;
        margin-top: 3px;
        letter-spacing: 1px;
       }

       p{
        font-size: 12px;
        margin-top: 10px;
        letter-spacing: 3px;
       }
    }
  }
}

footer{
  background: #ffc700;
  
}
